.header{
    h1 a{
        background: url(../img/logo.png) no-repeat;
        background-size: cover;
        @include hide-text;
        display: block;
        width: 80px;
        height: 48px;
    }
}

.footer{
    &-contact{
        a{
            font-size: 36px;
            @include media-breakpoint-down(md){
                font-size: 20px;
            }@include media-breakpoint-down(sm){
                font-size: 13px;
            }
        }
        img{
            @include media-breakpoint-down(sm){
                width: 20px;
            }
        }
    }
}